.article-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem; /* Added padding */
}

.sale-bar {
    margin-bottom: 3rem;
}

.article-container {
    display: flex;
    gap: 6rem;
}

.sale-text {
    font-size: 1.6rem;
    color: #00ff04;
}

.ebook-name {
    font-size: 2rem;
    margin: 2rem 0;
}

.ebook-description {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.price_container {
    font-size: 1.2rem;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: #ff0000;
}

.discounted-price {
    color: #006bff;
    font-size: 1.2rem;
}

.original-price-hard-copy {
    text-decoration: line-through;
    color: #ff0000;
}

.discounted-price-hard-copy {
    color: #006bff;
    font-size: 1.2rem;
}

.ebook-category {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.ebook-degree {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.ebook-university {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.validity {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #009202;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2rem;
}

.ebook-cover-image {
    height: 30rem; /* Further reduced height */
}

.price_container {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

#buy-button {
    padding: 2rem;
    color: #fff;
    background-color: #006bff;
    border: none;
    font-size: 1.8rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

#buy-button:hover {
    background-color: #0059cc;
    cursor: pointer;
}

.buy-hard-copy-link {
    display: inline-block;
    padding: 2rem;
    color: #222;
    border: 0.3rem solid #006bff;
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    border-radius: 1rem;
    text-decoration: none;
}

.buy-hard-copy-link:hover {
    background-color: #dedede;
    cursor: pointer;
}

.already-purchased {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .article-container {
        flex-direction: column;
        align-items: center;
    }

    .ebook-cover-image {
        width: 100%;
        height: auto;
    }

    .ebook-details {
        width: 100%;
        text-align: center;
    }
}