/* Mobile Styles */
@media (max-width: 600px) {
    body {
        text-align: center;
    }

    .header {
        justify-content: center;
    }

    .main-nav {
        position: relative;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        font-size: 2.4rem;
    }

    .main-nav-list {
        display: none;
        flex-direction: column;
        gap: 1.6rem;
        position: absolute;
        top: 100%;
        left: -50%;
        width: 100%;
        background-color: #fff;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        padding-top: 1.6rem;
        z-index: 1000;
    }

    .main-nav-list.show {
        display: flex;
    }

    .main-nav-link {
        padding: 1.2rem 0;
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        /* border: 1px solid #ddd; */
        border-radius: 5px;
    }

    .main-nav-link li {
        width: 100%;
    }

    .main-nav-link:hover,
    .main-nav-link:active {
        background-color: #e0e0e0;
    }

    .account-settings-link {
        padding: 1.2rem 0;
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .account-settings-link:hover,
    .account-settings-link:active {
        background-color: #e0e0e0;
    }

    .main-nav-list.show .main-nav-link,
    .main-nav-list.show .account-settings-link {
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        border-top: 1px solid #ddd;
        border-radius: 5px;
        padding: 1.2rem 5rem;
    }

    .main-nav-list.show .register {
        background-color: #006bff;
        color: #fff;
    }

    .main-nav-list.show .main-nav-link:hover,
    .main-nav-list.show .account-settings-link:hover {
        background-color: #e0e0e0;
    }

    .main-content.push-down {
        margin-top: 200px; /* Adjust this value based on the height of your navbar */
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-text-box {
        margin-bottom: 3.2rem;
        text-align: center;
    }

    .hero-image-box {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .hero-image {
        width: 80%;
    }

    .number-of-students {
        flex-direction: column;
        gap: 1.6rem;
    }

    .student-imgs img {
        height: 3.2rem;
        width: 3.2rem;
    }

    .step-img-box,
    .step-text-box {
        text-align: center;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols,
    .grid--5-cols {
        grid-template-columns: 1fr;
    }

    .founder-vision {
        flex-direction: column;
        text-align: center;
    }

    .founder-image {
        transform: scale(1);
        margin-bottom: 2.4rem;
    }

    .footer {
        text-align: center;
    }

    .footer-nav {
        flex-direction: column;
        gap: 1.6rem;
    }

    .social-links {
        justify-content: center;
    }

    .register {
        background-color: #006bff;
        color: #fff;
    }

    .main-nav-list.show .register {
        background-color: #006bff;
        color: #fff;
    }

    .new-cta {
        background-color: #006bff;
        color: #fff;
    }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .main-nav {
        position: relative;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        font-size: 2.4rem;
    }

    .main-nav-list {
        display: none;
        flex-direction: column;
        gap: 2.4rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1.6rem;
        z-index: 1000;
    }

    .main-nav-list.show {
        display: flex;
    }

    .main-nav-link {
        padding: 1.2rem 0;
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .main-nav-link:hover,
    .main-nav-link:active {
        background-color: #e0e0e0;
    }

    .account-settings-link {
        padding: 1.2rem 0;
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .account-settings-link:hover,
    .account-settings-link:active {
        background-color: #e0e0e0;
    }

    .main-nav-list.show .main-nav-link,
    .main-nav-list.show .account-settings-link {
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1.2rem 0;
    }

    .main-nav-list.show .main-nav-link:hover,
    .main-nav-list.show .account-settings-link:hover {
        background-color: #e0e0e0;
    }

    .main-content.push-down {
        margin-top: 200px; /* Adjust this value based on the height of your navbar */
    }

    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-text-box {
        margin-bottom: 3.2rem;
    }

    .hero-image-box {
        display: flex;
        justify-content: center;
    }

    .hero-image {
        width: 60%;
    }

    .number-of-students {
        flex-direction: column;
        gap: 2.4rem;
    }

    .student-imgs img {
        height: 4rem;
        width: 4rem;
    }

    .categories-table {
        font-size: 10rem;
        width: 700rem;
        margin-right: rem;
    }

    .step-img-box,
    .step-text-box {
        text-align: center;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols,
    .grid--5-cols {
        grid-template-columns: 1fr;
    }

    .founder-vision {
        flex-direction: column;
        text-align: center;
    }

    .founder-image {
        transform: scale(1.5);
        margin-bottom: 2.4rem;
    }

    .footer {
        text-align: center;
    }

    .footer-nav {
        flex-direction: column;
        gap: 2.4rem;
    }

    .social-links {
        justify-content: center;
    }

    .register {
        background-color: #006bff;
        color: #fff;
    }

    .main-nav-list.show .register {
        background-color: #006bff;
        color: #fff;
    }

    .new-cta {
        background-color: #006bff;
        color: #fff;
    }
}
