<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="../static/css/profile-settings.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <title>EazyEbooks - Profile Settings</title>
</head>
<body>
    <div class="profile-container">
        <h1 class="profile-settings-heading">Profile Settings</h1>
        <div class="profile-flex-container">            
            <div class="pic-and-para">
                <ion-icon name="person-outline" class="profile-icon"></ion-icon>
                <p class="full-name">{{full_name}}</p>
                <p class="student">Student</p>
                <p class="email-display">{{email}}</p>
                <!-- <p class="profile-para">Welcome to Profile Settings! Here, you can easily edit and manage your personal information, update preferences, and keep your profile up to date.</p> -->
                <form action="/logout" method="post">
                    <button type="submit" class="log-out-button">Log out</button>
                </form>
            </div>
            <div class="contact-and-security">
                <div class="contact-container">
                    <h2 class="section-heading">Contact information</h2>
                    <form action="/my-account/profile-settings" method="post" class="contact-form">
                        <div class="label-and-input">
                            <label for="phone-number">Phone Number</label>
                            <input type="text" name="phone-number" class="form-inp" value="{{phone_number}}">
                        </div>


                        <div class="label-and-input">
                            <label for="contact-email">Contact Email</label>
                            <input type="email" name="contact-email" class="form-inp" value="{{contact_email}}">
                        </div>

                        <div class="label-and-input hidden">
                            <label for="name">Full Name</label>
                            <input type="text" name="name" id="" class="form-inp" value="{{full_name}}">
                        </div>
    
                        <div class="label-and-input hidden">
                            <label for="institute">Institute</label>
                            <input type="text" name="institute" class="form-inp" value="{{institute}}">
                        </div>
                        <div class="label-and-input hidden">
                            <label for="general-info">General Info</label>
                            <textarea name="general-info" class="general-info-textarea" rows="10" cols="10">{{ general_info }}</textarea>
                        </div>

                        <button type="submit" class="form-btn">Update</button>
                    </form>
                </div>
                <div class="security">
                    <h2 class="section-heading">Security</h2>
                    <div class="security-container">
                        <p class="security-heading">New Password</p>
                        <a href="{{password_reset_url}}" class="security-link">Set New Password</a>
                    </div>
                    <div class="security-container">
                        <p class="security-heading">Change Email</p>
                        <a href="#" class="security-link">Change your Email</a>
                    </div>
                </div>
            </div>
            <div class="about-yourself-container">
                <h2 class="section-heading">About yourself</h2>
                <form action="/my-account/profile-settings" class="profile-settings-form" method="post">
                    <div class="label-and-input">
                        <label for="name">Full Name</label>
                        <input type="text" name="name" id="" class="form-inp" value="{{full_name}}">
                    </div>

                    <div class="label-and-input">
                        <label for="institute">Institute</label>
                        <input type="text" name="institute" class="form-inp" value="{{institute}}">
                    </div>

                    <label for="general-info">General Info</label>
                    <textarea name="general-info" class="general-info-textarea" rows="10" cols="10">{{ general_info }}</textarea>

                    <div class="label-and-input hidden">
                        <label for="phone-number">Phone Number</label>
                        <input type="text" name="phone-number" class="form-inp" value="{{phone_number}}">
                    </div>


                    <div class="label-and-input hidden">
                        <label for="contact-email">Contact Email</label>
                        <input type="email" name="contact-email" class="form-inp" value="{{contact_email}}">
                    </div>
        
                    <button class="form-btn">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-navbar">
        <ul class="bottom-navbar-list">
            <li class="bottom-navbar-list-element">
                <a href="/" class="bottom-navbar-link"><ion-icon name="home-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
            <li class="bottom-navbar-list-element">
                <a href="/marketplace" class="bottom-navbar-link"><ion-icon name="cart-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
            <!-- <li class="bottom-navbar-list-element">
                <a href="" class="bottom-navbar-link"><ion-icon name="book-outline" class="bottom-nav-icon"></ion-icon></a>
            </li> -->
            <li class="bottom-navbar-list-element">
                <a href="/my-orders" class="bottom-navbar-link"><ion-icon name="list-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
            <li class="bottom-navbar-list-element">
                <a href="/purchase-history" class="bottom-navbar-link"><ion-icon name="cash-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
            <li class="bottom-navbar-list-element">
                <a href="/my-account/profile-settings" class="bottom-navbar-link selected-bottom-nav-bar-link"><ion-icon name="person-circle-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
        </ul>
    </div>
</body>
</html>