<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Active</title>
    <link rel="stylesheet" href="../static/css/account_active.css">
</head>
<body>
    <div class="container">
        <div class="message-box">
            <h1>Account Active</h1>
            <p>Your account is currently active on another device. Please log out from that device before using your account on this device.</p>
            <a href="{{ url_for('login.LoginPage') }}" class="btn">Go to Login</a>
        </div>
    </div>
</body>
</html>
