<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activation-link.css') }}">
    <title>EazyEbooks - Account activation</title>
</head>
<body>
    <div class="activation-container">
        <h2 class="account-activated">{{ message }}</h2>
        {% if message == "Account Activated" %}
            <ion-icon name="mail" class="mail-icon"></ion-icon>
            <p class="greeting">Hello {{ full_name }},</p>
            <p class="activation-paragraph">Thank you for choosing EazyEbooks, your email has been verified. Your account is now active. Please go back to the EazyEbooks app and login to your account.</p>
        {% elif message == "Account is already active" %}
            <ion-icon name="mail" class="mail-icon"></ion-icon>
            <p class="greeting">Hello {{ full_name }},</p>
            <p class="activation-paragraph">Thank you for choosing EazyEbooks, we have noticed that your account is already active. Please go back to the EazyEbooks app and login to your account.</p>
        {% elif message == "Invalid activation link" %}
            <ion-icon name="close" class="close-icon"></ion-icon>
            <p class="activation-paragraph">Oops!! This activation link is expired. Please try again with another activation link</p>

        {% endif %}
    </div>
</body>
</html>