<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-8875422219223826">
    <link rel="stylesheet" href="../static/css/forgot-password.css">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="forgot-password-container">
        <h2 class="forgot-password-heading">Forgot your password?</h2>
        <p class="forgot-password-para">Please enter the email address of your account to receive the password reset link.</p>
        <form action="" method="post" class="request-link-form">
            <label for="email" class="email-label">Enter your email</label>
            <input type="email" name="email" placeholder="example@gmail.com" class="email-inp">
            <button class="request-link">Request reset link</button>
            <div class="back-to-login-container">
                <a href="/login" class="back-to-login">Back to Login</a>
            </div>
        </form>
    </div>
</body>
</html>