<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EazyEbooks Home</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body>
    <div class="home-content">
        <div class="blue-board">
            <h2 class="welcome-back-text">Welcome back <strong>{{name}}</strong></h2>
            <div class="outgoing-board">
                <h4 class="start-reading">Start exploring a world of amazing academic e-books today</h4>
            </div>
        </div>
        <main id="main-content">
            <div class="library-grid">
                {% if user_library %}
                    {% for book in user_library %}
                    <div class="library-item">
                        <a href="{{ url_for('book_viewer.Read', ebook_id=book.document_id) }}" class="library-item-link">
                            <img src="{{ book.cover_image_path_url }}" alt="{{ book.name }}" class="library-item-image">
                            <div class="library-item-content">
                                <h3 class="library-item-title">{{ book.name }}</h3>
                                <p class="library-item-date">Purchase Date: {{ book.purchase_date }}</p>
                                <p class="library-item-date">Expiry Date: {{ book.expiry_date }}</p>
                                <button class="btn btn-read">Read</button>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="no-books-message">
                        <p>No E-books to show. Visit our <a href="{{ url_for('marketplace.Marketplace') }}">marketplace</a> and buy your 1st E-book.</p>
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
    <div class="bottom-navbar">
        <ul class="bottom-navbar-list">
            <li class="bottom-navbar-list-element">
                <a href="/" class="bottom-navbar-link selected-nav-bar-link"><ion-icon name="home-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
            <li class="bottom-navbar-list-element">
                <a href="/marketplace" class="bottom-navbar-link"><ion-icon name="cart-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
            <!-- <li class="bottom-navbar-list-element">
                <a href="" class="bottom-navbar-link"><ion-icon name="book-outline" class="bottom-nav-icon"></ion-icon></a>
            </li> -->
            <li class="bottom-navbar-list-element">
                <a href="/my-orders" class="bottom-navbar-link"><ion-icon name="list-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
            <li class="bottom-navbar-list-element">
                <a href="/purchase-history" class="bottom-navbar-link"><ion-icon name="cash-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
            <li class="bottom-navbar-list-element">
                <a href="/my-account/profile-settings" class="bottom-navbar-link"><ion-icon name="person-circle-outline" class="bottom-nav-icon"></ion-icon></a>
            </li>
        </ul>
    </div>
</body>
</html>