<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/password-reset-form.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="../static/css/password-reset-form.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activation-link.css') }}">
    <title>EazyEbooks - Reset your password</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="form-container">
        {% if message == "Password successfully updated" %}
            <h2 class="account-activated">{{ message }}</h2>
            <ion-icon name="shield-checkmark-outline" class="shield-check-icon"></ion-icon>
            <p class="activation-paragraph">Your password is successfully updated. Please use the link below to log in to your account.</p>
            <a href="/login" class="login-link">login to your account</a>
        {% elif message == "Sorry, something went wrong!" %}
            <h2 class="account-activated">{{ message }}</h2>
            <ion-icon name="sad-outline" class="sad-icon"></ion-icon>
            <p class="activation-paragraph">Oops! We are very sorry, something went wrong on our side. Please try again with another link.</p>
        {% elif message == "This reset link has expired" %}
            <h2 class="account-activated">{{ message }}</h2>
            <ion-icon name="alarm-outline" class="clock-icon"></ion-icon>
            <p class="activation-paragraph">Oops! This password reset link is expired. Our reset links are valid only for 1 hour. Please try again using another link.</p>
        {% elif message == "Invalid reset link!" %}
            <h2 class="account-activated">{{ message }}</h2>
            <ion-icon name="close-outline" class="close-icon"></ion-icon>
            <p class="activation-paragraph">The link you are using is invalid. Please try again with a valid password reset link or request a new one.</p>
        {% else %}
            <h2 class="password-reset-heading">Reset your password</h2>
            <form action="{{ endpoint }}" class="password-reset-form" method="post">
                <label for="password">Password</label>
                <input type="password" name="password" class="password-inp">
        
                <label for="password">Re-type Password</label>
                <input type="password" name="retype-password" class="confirm-password-inp">
        
                <button type="submit" class="reset-btn">Reset</button>
            </form>
        {% endif %}
    </div>
</body>
</html>