<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="../static/css/about.css">
    <title>EazyEbooks - Account Suspended!</title>
</head>
<body>
    <div class="container about-article-container">
        <span class="subheading-acc-suspended">Account Suspended</span>
        <h2 class="heading-secondary about-heading">Your EazyEbooks account has been suspended</h2>
    </div>
    <div class="container about-paragraphs">
        <p class="about-para">We regret to inform you that your account has been suspended due to a violation of our terms and conditions. As a result, you no longer have access to your account or any services on the EazyEBooks platform. This suspension is effective immediately and will remain in place until further notice.</p>
        <p class="about-para">While your account is suspended, you will not be able to access any part of the Easy eBooks platform. This includes the ability to read e-books you have already purchased, make new purchases, or use premium features. Your account details will also be inaccessible until the suspension is lifted. We take these measures to maintain the security and integrity of our platform and to protect the rights of all users and content providers.</p>
    </div>
    <div class="container about-article-container">
        <h2 class="heading-secondary about-heading">How to resolve this issue?</h2>
    </div>
    <div class="container about-paragraphs">
        <p class="about-para">If you think this suspension is a mistake or you would like to dispute the suspension, we are here to help. Please reach out to us at <a class="reach-out-link" href="tel:+916205076864">+916205076864</a> or <a class="reach-out-link" href="mailto:easyebook.contact@gmail.com">easyebook.contact@gmail.com</a></p>
    </div>
</body>
</html>